<% content_for :page_title do %>
  <%= @purchase_order.number %> :: <%= @purchase_order.supplier.name %> :: <%= @purchase_order.ordered_on %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to t(:edit_purchase_order), spree.edit_admin_purchase_order_path(@purchase_order), :icon => 'icon-edit' %>
  </li>
<% end %>

<div id="show_purchase_order_lines" class="row">
  <table class="index align-center">
    <colgroup>
      <col width="140">
      <col>
      <col width="80">
      <col width="80">
    </colgroup>
    <thead>
      <tr>
        <th><%= t(:sku) %></th>
        <th><%= t(:item_description) %></th>
        <th><%= t(:quantity) %></th>
        <th><%= t(:cost_price) %></th>
      </tr>
    </thead>
    <tbody>
      <% total_cost = 0 %>
      <% @purchase_order.purchase_order_lines.each do |purchase_order_line| %>
      <tr data-hook="rate_row" class="<%= cycle('odd', 'even')%>">
        <td><strong><%= purchase_order_line.variant.product.sku %></strong></td>
        <td><%= purchase_order_line.variant.product.name %> (<%= purchase_order_line.variant.options_text %>)</td>
        <td><%= purchase_order_line.quantity %></td>
        <td><%= purchase_order_line.price %><% total_cost += purchase_order_line.price %></td>
      </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3"><%= t(:total_purchase_order_cost) %>:</td>
        <td><span class="purchase_order_cost"><%= total_cost %></span></td>
      </tr>
    </foot>
  </table>
</div>
